.posts__list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-top: 1rem;
  gap: 1.5rem;
  position: relative;
  z-index: 9;
  background-color: rgb(241, 241, 241, 0.7);
  border-radius: 0.5rem;
}
