.posts {
  display: grid;
  // grid-template-rows: 40% 30% 20% 10%;
  margin: 0.5em;
  padding: 1em;
  // border-radius: 10px;

  &:not(:last-child) {
    border-bottom: 3px solid #61c29d;
  }

  // padding: 2rem 1rem;
  // border: 1rem solid #61c29d;
  // border-image: repeating-linear-gradient(
  //     45deg,
  //     transparent,
  //     transparent 5px,
  //     #61c29d 6px,
  //     #61c29d 15px,
  //     transparent 16px,
  //     transparent 20px
  //   )
  //   20/1rem;

  &__heading {
    font-size: 2rem;
    color: #354126;
  }

  &__text {
    font-size: 1.2rem;
    color: #354126;
  }

  &__credit {
    font-size: 1rem;
    color: #232b19;

    a:link,
    a:visited {
      margin-right: 0.5rem;
      color: #000;
      transition: all 0.3s;
    }
    a:hover,
    a:active {
      color: hsla(0, 0%, 0%, 0.75);
    }
  }
}
