.post__container {
  height: calc(100vh - 97px - 2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.post__detail {
  padding: 1em;
  max-width: 1200px;
  background-color: rgb(241, 241, 241, 0.7);
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
