.section__users {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #232b19;

  &__heading {
    color: #003f38;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &--icon {
      font-size: 2rem;
    }
  }
}

.users__list {
  list-style: decimal;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 1rem;

  &__link a {
    &:link,
    &:visited {
      color: #232b19;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: #009e8b;
      border-bottom: 1px solid #009e8b;
    }
  }
}
